/target/*
/node_modules/*
/bower_components/*
/node/*
# Elastic Beanstalk Files
/.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.apt_generated/*
/configuration/*
log
logger.txt